body {
   background-color: black;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.controls {
  display:grid;
  grid-template-columns:auto min-content;
  color: white;
  justify-content: center;
  margin: 20px;
}
